body {
    background-color: #f5fff9;
    margin: 0;
    padding: 120px 15px;
    text-align: end;
}

.container {
    display: grid;
}

.ticket {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 0px 35px -25px;
    display: grid;
    grid-template-columns: 28% 42% 30%;
    height: 300px;
    margin: auto;
    width: 1200px;
}

img {
    width: 60px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #d3b779;
}

.item {
    color: #a3a4a4;
    font-family: "Average Sans", sans-serif;
    font-size: 14px;
    margin: 20px auto 0 auto;
    text-transform: uppercase;
}

.lgdetail {
    color: #616161;
    font-family: "Average Sans", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
}

.smdetail {
    color: #616161;
    font-family: "Average Sans", sans-serif;
    font-size: 20px;
    text-transform: capitalize;
}

/* start ticket-left*/
.ticket-left {
    background-color: white;
    border-radius: 50px 0 0 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    padding-right: 10px;
}

.corner-seat-container {
    background: #f7f7f7;
    border-radius: 50px 0 50px 0;
    height: 100%;
    padding-right: 25px;
    width:100%;
}

.airplane {
    font-size: 70px;
    line-height: 100px;
}

.departure-time {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.departing {
    grid-column: 1 / span 2;
    grid-row: 3;
}

/*end ticket-left*/

/*start ticket-middle*/
.ticket-middle {
    background-color: #ffe9b7;
    border-right: 1.7px dotted black;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
    display: grid;
    grid-template-columns: 20% 35% 45%;
    grid-template-rows: 100px 100px 67px 28px;
    padding-bottom: 5px;
    padding-right: 30px;
}

.passenger-name {
    grid-column: 1 / span 3;
}

.gate {
    grid-column: 2;
}

.destination {
    grid-column: 1 / span 2;
}

.serial {
    background-color: #fff;
    font-family: "Cutive Mono";
    grid-column: 1 / span 3;
    line-height: 21px;
    margin-left: 30px;
    margin-top: 7px;
    text-align: center;
    text-transform: uppercase;
}

/*end ticket-middle*/

/*start ticket-right*/
.ticket-right {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 45px 1fr 1fr 1fr 1fr 28px;
}

.smitem {
    color: #a3a4a4;
    font-family: "Average Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.exsmdetail {
    color: #616161;
    font-family: "Average Sans", sans-serif;
    font-size: 17px;
    text-transform: ;
}

.stub-flight {
    grid-row: 2;
    text-transform: uppercase;
}

.stub-seat {
    grid-row: 3;
    text-transform: uppercase;
}

.stub-depart {
    grid-row: 4;
}

.stub-passenger {
    grid-row: 5;
}

.barcode {
    font-family: "Libre Barcode 39";
    font-size: 45px;
    grid-row: 1 / span 6;
    line-height: 78.75px;
    text-orientation: mixed;
    text-align: center;
    writing-mode: vertical-rl;
}

.jl-logo {
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/*end ticket-right*/