{%load static%}
<html>

<head>
  <link rel="stylesheet" href="{% static 'css/page2.css' %}">

</head>

<body style="background-image: url('{% static "img/cancelation.jpeg" %}');">
  <div class="contain">

    <div class="wrapper">

      <div class="form">

        <h2 class="form-headline" style="color:white;">CANCEL RESERVATION</h2>
        <form id="submit-form" action="">
          {% csrf_token %}
          <p>
            <input id="name" class="form-input" type="text" placeholder="Your Name*">
            <small class="name-error"></small>
          </p>
          <p>
            <input id="email" class="form-input" type="email" placeholder="Your Email*">
            <small class="name-error"></small>
          </p>
          <p class="full-width">
            <input id="company-name" class="form-input" type="text" placeholder="Bus Name*" required>
            <small></small>
          </p>
          <p class="full-width">
            <textarea minlength="20" id="message" cols="30" rows="7" placeholder="Cancellation Reason*"
              required></textarea>
            <small></small>
          </p>
          <input type="file" style="color:white; padding: 5px 10px;" accept=".pdf" value="Select a file">
          <input type="submit" class="submit-btn" value="Upload" style="padding: 5px 10px;">
          <p class="full-width">
            <input type="checkbox" id="checkbox" name="checkbox" checked> Yes, I would like to receive communications by
            call / email about Company's services.
          </p>
          <p class="full-width">
            <input type="submit" class="submit-btn" value="Submit">

          </p>

        </form>
      </div>


    </div>
  </div>
</body>

</html>
