<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journey Begins</title>
    <link rel="stylesheet" href="{% static 'css/newhome.css' %}">
    <script src="{% static 'js/login.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/pop.css'%}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- ===== Link Swiper's CSS ===== -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- ===== Fontawesome CDN Link ===== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <style>



    </style>
    <script>
        window.addEventListener('scroll', function () {
            var header = document.querySelector('.sticky');
            header.classList.toggle("change", window.scrollY > 0);
        })

    </script>

</head>

<body>
    <div class="portion" style="background-image: url('{% static "img/finalbg.jpg" %}');">
        <nav class="sticky">
            <!-- <div class="brand ">
            <img src="img4.png" height="100" width="160px" >
        </div>-->
            <div class="logo" style="display:flex;">
                <h2>Journey <span> Begins </span></h2>
            </div>


            <!--  <label for="nav" class="nav__open"><i></i><i></i><i></i></label>-->
            <div class="nav">
                <ul class="nav__items">
                    <li class="navbar-dropdown">
                    <li class="nav__item"><a href="#" class="nav__link">Home</a></li>

                    </li>
                    <li class="navbar-dropdown">
                    <li class="nav__item"><a href="subscription" class="nav__link">Subscription</a></li>

                    </li>
                    <li class="navbar-dropdown">
                        <a href="#" class="nav__link">Bookings</a>
                        <div class="dropdown">
                            <a href="your_tickets">Your Tickets</a><br>
                            <a href="cancel_reservation">Cancel Reservation</a>

                        </div>
                    </li>

                    <li class="navbar-dropdown">
                        {% if session != "" %}
                        <a href="#" class="nav__link" id="move">{{option}}</a>
                        {% else %}

                        <a href="#" class="nav__link" id="move">Profile</a>
                        {% endif %}
                        <div class="dropdown">
                            {% if session != "" %}
                            <a onclick="location.href='signout'" class="button big">signout</a>
                            {% else %}

                            <a href="login_signup" id="contact" class="button big">signin/signup</a>
                            {% endif %}

                        </div>

                    </li>


                </ul>
            </div>
        </nav>
        <div class="wrapper3">

            <div class="typing-demo">
                <span style="padding-left:100px;">MAKE YOUR</span><BR>
            </div>

            <div class="typing-demo">
                <span style="padding-left:140px;">JOURNEY</span><BR>
            </div>
            <div class="typing-demo">
                BEAUTIFUL WITH US!
            </div>
        </div>

        <div class="flex1">


            <section class="first">
                <div class=""></div>
            </section>
            <section class="home" id="services">


                <form method="POST" action="search_bus/">
                    {% csrf_token %}
                    <div class="input grid">
                        <div class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-send" viewBox="0 0 16 16" style="padding-left:5px;">
                                <path
                                    d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
                            </svg>
                            <input id="input2" type="text" name="depature" placeholder="Departure" required>
                        </div>
                        <div class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-send-check-fill" viewBox="0 0 16 16" style="padding-left:5px;">
                                <path
                                    d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47L15.964.686Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
                                <path
                                    d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z" />
                            </svg>

                            <input id="input2" type="text" name="arrive" placeholder="Arrival" required>
                        </div>
                        <div class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-calendar2" viewBox="0 0 16 16" style="padding-left:5px;">
                                <path
                                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
                                <path
                                    d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z" />
                            </svg>

                            <input id="input2" type="date" name="date" placeholder="Date" required>
                        </div>
                        <div class="Serach1">

                            <button class="btn">Search</button>



                        </div>


                    </div>
                </form>
            </section>




        </div>

        <div class="second">


            <!--offers-->

            <div class="offerscard">
                <div class="offit">
                    <h3 id="offcard">OFFERS THAT YOU CAN AVAIL</h3>
                </div>

                <div class="cards-list">


                    <div class="card_s1 1">
                        <div class="card_image"><img src="{% static 'img/diwali.jpg' %}"> </div>
                        <div class="card_title title-white">

                        </div>
                    </div>

                    <div class="card_s2 2">
                        <div class="card_image">
                            <img src="{% static 'img/promo.jpg'%}">
                        </div>
                        <div class="card_title title-white">

                        </div>
                    </div>

                    <div class="card_s3 3">
                        <div class="card_image">
                            <img src="{% static 'img/trip.jpg'%}">

                        </div>
                        <div class="card_title">

                        </div>
                    </div>

                    <div class="card_s4 4">
                        <div class="card_image">
                            <img src="{% static 'img/ride.jpg'%}">

                        </div>
                        <div class="card_title">

                        </div>
                    </div>

                </div>

            </div>

            <div id="slider">
                <h3 id="slid">PROVISIONS THAT WE PROVIDE YOU</h3>
                <script>
                    $(document).ready(function () {
                        var total_slide = $("#slider > ul > li").length;
                        var current_slide = 1;
                        slide_slider();
                        function slide_slider() {
                            $("#slider > ul > li").hide();
                            $("#slider > ul > li:nth-child(" + current_slide + ")").show();
                            if (current_slide >= total_slide) {
                                current_slide = 1;
                            } else {
                                current_slide++;
                            }
                        }
                        var b = setInterval(function () {
                            slide_slider();
                        }, 1000);
                    });

                </script>

                <ul>

                    <li>
                        <div class="cardfac1">

                            <img class="facimg1" src="{% static 'img/img3.jpg'%}">

                            <div class="texts">
                                <h2 style=" font-family:'Courier New';">Travel with Prime Buses</h2>
                                <p style=" font-family:'Courier New';"> Highly rated buses with world class services
                                    Always On-Time, Highest standards of
                                    Safety & Comfort</p>

                            </div>



                        </div>
                    </li>
                    <li>
                        <div class="cardfac2">
                            <img class="facimg2" src="{% static 'img/img1.jpg'%}">
                            <div class="texts">
                                <h2 style=" font-family:'Courier New';">Travel safely with goSafe</h2>
                                <p style=" font-family:'Courier New';">Get assured safety environment & practices along
                                    safety guidelines.choose from a wide
                                    selection and ensure safety.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cardfac3">
                            <img class="facimg3" src="{% static 'img/img2.jpeg'%}">
                            <div class="texts">
                                <h2 style=" font-family:'Courier New';">Buses with First Aid Kits</h2>
                                <p style=" font-family:'Courier New';">Passengers are provided with first-aid kits and
                                    emergency things.</p>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--offers-->
            <!-- <section class="sec">

                <div class="swiper mySwiper container">
                    <div class="swiper-wrapper content">

                        <div class="swiper-slide card">
                            <div class="card-content">


                                <div class="name-profession">
                                    <span class="name">Arjit Singh</span>
                                    <span class="profession">Rating</span>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide card">
                            <div class="card-content">




                                <div class="name-profession">
                                    <span class="name">Sanjai</span>
                                    <span class="profession">Rating</span>
                                </div>

                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>


                            </div>
                        </div>
                        <div class="swiper-slide card">
                            <div class="card-content">


                                <div class="name-profession">
                                    <span class="name">Vijay</span>
                                    <span class="profession">Rating</span>
                                </div>

                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>


                            </div>
                        </div>
                        <div class="swiper-slide card">
                            <div class="card-content">


                                <div class="name-profession">
                                    <span class="name">Ajay</span>
                                    <span class="profession">Rating</span>
                                </div>

                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>


                            </div>
                        </div>
                        <div class="swiper-slide card">
                            <div class="card-content">



                                <div class="name-profession">
                                    <span class="name">Surya</span>
                                    <span class="profession">Rating</span>
                                </div>

                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>


                            </div>
                        </div>
                        <div class="swiper-slide card">
                            <div class="card-content">



                                <div class="name-profession">
                                    <span class="name">Harish</span>
                                    <span class="profession">Rating</span>
                                </div>

                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>


                            </div>
                        </div>





                    </div>
                </div>

                <div class="swiper-button-next" style="color:white" ;></div>
                <div class="swiper-button-prev" style="color:white;"></div>

            </section>-->

            <!-- Swiper JS -->
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper(".mySwiper", {
                    slidesPerView: 3,
                    spaceBetween: 30,
                    slidesPerGroup: 3,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                });
            </script>

            <!--footer-->
            <!-- footer section start -->
            <footer id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="index.html"><img src=""></a>


                        </div>
                        <div class="col-md-3">
                            <div class="useful-link">
                                <h2>Useful Links</h2>
                                <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
                                <div class="use-links">
                                    <li><a href="index.html"><i class="fa-solid fa-angles-right"></i> Home</a></li>
                                    <li><a href="contactus"><i class="fa-solid fa-angles-right"></i> Contact Us</a>
                                    </li>
                                    <li><a href="help.html"><i class="fa-solid fa-angles-right"></i> Help</a></li>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="social-links">
                                <h2>Follow Us</h2>
                                <img src="./assets/images/about/home_line.png" alt="">
                                <div class="social-icons">
                                    <li><a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
                                    <li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                                    <li><a href=""><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-3">
                            <div class="address">
                                <h2>Address</h2>
                                <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
                                <div class="address-links">
                                    <li class="address1"><i class="fa-solid fa-location-dot"></i>Coimbatore 641200/li>
                                    <li><a href=""><i class="fa-solid fa-phone"></i>713-230-45</a></li>
                                    <li><a href=""><i class="fa-solid fa-envelope"></i> journeybegins2k22@gmailcom</a>
                                    </li>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </footer>
            <!-- footer section end -->
            <!-- footer copy right section start -->
            <section id="copy-right">
                <div class="copy-right-sec">
                    <!--lorem ispum lorem ispum 2022 Powerd By <a href="#">lorem ispum</a>-->


                </div>

            </section>
            <!-- footer copy right section end -->


        </div>

    </div>








</body>

</html>
