<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/log.css'%}">
    <script>
        /* ------------------------------------ Click on login and Sign Up to  changue and view the effect
---------------------------------------
*/

        function cambiar_login() {
            document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_login";
            document.querySelector('.cont_form_login').style.display = "block";
            document.querySelector('.cont_form_sign_up').style.opacity = "0";

            setTimeout(function () { document.querySelector('.cont_form_login').style.opacity = "1"; }, 400);

            setTimeout(function () {
                document.querySelector('.cont_form_sign_up').style.display = "none";
            }, 200);
        }

        function cambiar_sign_up(at) {
            document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_sign_up";
            document.querySelector('.cont_form_sign_up').style.display = "block";
            document.querySelector('.cont_form_login').style.opacity = "0";

            setTimeout(function () {
                document.querySelector('.cont_form_sign_up').style.opacity = "1";
            }, 100);

            setTimeout(function () {
                document.querySelector('.cont_form_login').style.display = "none";
            }, 400);


        }



        function ocultar_login_sign_up() {

            document.querySelector('.cont_forms').className = "cont_forms";
            document.querySelector('.cont_form_sign_up').style.opacity = "0";
            document.querySelector('.cont_form_login').style.opacity = "0";

            setTimeout(function () {
                document.querySelector('.cont_form_sign_up').style.display = "none";
                document.querySelector('.cont_form_login').style.display = "none";
            }, 500);

        }




    </script>
</head>

<body>
    <div class="cotn_principal" style="background-image: url('{% static "img/log2.jpg" %}');">
        <div class="wrapper4">

            <div class="typing-demo">
                JOURNEY BEGINS
            </div>
        </div>

        <div class="cont_centrar">

            <div class="cont_login">
                <div class="cont_info_log_sign_up">
                    <div class="col_md_login">
                        <div class="cont_ba_opcitiy">

                            <h2>LOGIN</h2>
                            <p>If you are an existing<br>user do click</p>
                            <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
                        </div>
                    </div>
                    <div class="col_md_sign_up">
                        <div class="cont_ba_opcitiy">
                            <h2>SIGN UP</h2>


                            <p>Welcome<br> Journey Begins !</p>

                            <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
                        </div>
                    </div>
                </div>


                <div class="cont_back_info">
                    <div class="cont_img_back_grey">
                        <img src="" alt="" />
                    </div>

                </div>
                <div class="cont_forms">
                    <div class="cont_img_back_">
                        <img src="" alt="" />
                    </div>
                    <div class="cont_form_login" style="position: absolute;
                    opacity: 0;
                    display: none;
                    width: 320px;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s;">
                        <a href="#" onclick="ocultar_login_sign_up()"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16"
                                style="color:white; padding-right: 40px;">
                                <path fill-rule="evenodd"
                                    d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                                <path fill-rule="evenodd"
                                    d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                                &#xE5C4;
                            </svg></a>
                        <h2 style=" margin-top: 110px;
                        font-weight: 400;
                        color: #ffffff;">LOGIN</h2>
                        <form action="/" method="POST">
                            {%csrf_token%}
                            <input type="text" name="email_id" placeholder="Email" style="   padding: 15px 5px;
                            margin-left: 10px;
                            margin-top: 20px;
                            width: 260px;
                            border: none;
                            text-align: left;
                            color: #ffffff;
                            background-color: rgba(0, 0, 0, 0.55);" />
                            <input type="password" name="passwd" placeholder="Password" style="      padding: 15px 5px;
                            margin-left: 10px;
                            margin-top: 20px;
                            width: 260px;
                            border: none;
                            text-align: left;
                            color: #ffffff;
                            background-color: rgba(0, 0, 0, 0.55);" />
                            <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
                        </form>
                    </div>

                    <div class="cont_form_sign_up" style="    position: absolute;
                    width: 320px;
                    float: left;
                    opacity: 0;
                    display: none;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s;">
                        <a href="#" onclick="ocultar_login_sign_up()"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16"
                                style="color:white; padding-right: 40px;">
                                <path fill-rule="evenodd"
                                    d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                                <path fill-rule="evenodd"
                                    d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                                &#xE5C4;
                            </svg>
                        </a>

                        <h2 style="margin-top: 50px;
                        font-weight: 400;
                        color: #ffffff;">SIGN UP</h2>
                        <form action="register" method="POST">
                            {%csrf_token%}

                            <input type="text" name="email_id" placeholder="Email" style="   text-align: left;
                            padding: 15px 5px;
                            margin-left: 10px;
                            margin-top: 20px;
                            width: 260px;
                            border: none;
                            color: #ffffff;
                            background-color: rgba(0, 0, 0, 0.55);" />
                            <input type="text" name="username" placeholder="User" style="   text-align: left;
                            padding: 15px 5px;
                            margin-left: 10px;
                            margin-top: 20px;
                            width: 260px;
                            border: none;
                            color: #ffffff;
                            background-color: rgba(0, 0, 0, 0.55);" />
                            <input type="password" name="passwd" placeholder="Password" style="   text-align: left;
                            padding: 15px 5px;
                            margin-left: 10px;
                            margin-top: 20px;
                            width: 260px;
                            border: none;
                            color: #ffffff;
                            background-color: rgba(0, 0, 0, 0.55);" />
                            <input type="password" name="re_password" placeholder="Confirm Password" style="   text-align: left;
                            padding: 15px 5px;
                            margin-left: 10px;
                            margin-top: 20px;
                            width: 260px;
                            border: none;
                            color: #ffffff;
                            background-color: rgba(0, 0, 0, 0.55);" />
                            <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>
</body>

</html>