<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tickets</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Average+Sans&family=Cutive+Mono&family=Libre+Barcode+39&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="mytickets.css">
</head>

<body>
    <h1 style="padding-right: 680px;">My Tickets</h1>
    <div class="container">
        <div class="ticket">
            <div class="ticket-left">
                <div style="display: flex;" class="corner-seat-container">
                    <img style="width: 50px;height: 50px; padding: 10px 0px 0px 10px;"
                        src="https://cdn.dribbble.com/users/3340880/screenshots/8426070/media/002af6c1cda638ee97d35a5867a19f3b.gif"
                        alt="airplane-img" />
                    <p style="padding-top: 20px;font-family: lucida handwriting;padding-right: 20px;">Journey Begins</p>
                </div>
                <div class="airplane-container">

                </div>
                <div class="departure-time">
                    <div class="item">departure time</div>
                    <div class="lgdetail">7:00 am</div>
                </div>
                <div class="departing">
                    <div class="item">Departing</div>
                    <div class="smdetail">Departure</div>
                </div>
            </div>
            <div class="ticket-middle">
                <div class="passenger-name">
                    <div class="item">passenger</div>
                    <div class="smdetail">passenger-name</div>
                </div>
                <div class="gate">
                    <div class="item">Count</div>
                    <div class="lgdetail">no</div>
                </div>
                <div class="flight">
                    <div class="item">Bus</div>
                    <div class="lgdetail">name</div>
                </div>
                <div class="destination">
                    <div class="item">Destination</div>
                    <div class="smdetail">Arrival</div>
                </div>
                <div class="group">
                    <div class="item">Ticket Id</div>
                    <div class="smdetail">13352e</div>
                </div>
                <div class="serial">
                    <div>z8 4653 402 </div>
                </div>
            </div>
            <div class="ticket-right">
                <div class="stub-flight">
                    <div class="smitem">Bus</div>
                    <div class="exsmdetail">name</div>
                </div>
                <div class="stub-seat">
                    <div class="smitem">seat</div>
                    <div class="exsmdetail">12,13,14</div>
                </div>
                <div class="stub-depart">
                    <div class="smitem">depart</div>
                    <div class="exsmdetail">7:00 am</div>
                </div>
                <div class="stub-passenger">
                    <div class="smitem">passenger</div>
                    <div class="exsmdetail">passenger-name</div>
                </div>
                <div class="barcode">3859384847</div>
            </div>
        </div>
    </div>
    <footer>
        <img class="jl-logo" src="https://assets.codepen.io/1026437/jlRdLogo.png" alt="jl-logo" />
    </footer>

</body>

</html>