<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="thankyoupage.css">
</head>
<body>
    
    <div class="card card-5">
        <h1>Your Journey Begins !</h1>
        <p style="font-weight:bold;text-align:left;padding-left:40px;padding-top:30px;font-size:20px;">Hi Hardika S,</p>
        <p style="padding-left:60px;padding-top:10px;font-size:20px;">We're so happy to have you on board! Be sure to stay logged in for effortless<br><p style="padding-right:380px;font-size:20px;">booking experience.</p></p>
        <p style="padding-right:600px;padding-top:30px;font-weight:bold;font-size:18px;">Regards,</p>
        <p style="padding-right:550px;font-weight:bold;font-size:18px;">Journey Begins !</p>
        <p style="font-weight:300;padding-top:50px;padding-right:50px">Please do not hesitate to call us on at +91-9244262900(Mon-Fri 10AM - 6.30PM, Sat 10AM - 4.00PM)</p>
        <p style="font-weight:300;padding-bottom:70px;padding-right:130px">or email customercare@journeybegins.com if have any questions at all regarding the above.</p>
    </div>
    </body>
    </html>